
<!--   <button type="button" class="btn btn-dark boton" (click)="mostrartabla()">Mostrar tabla</button>
  <button type="button" class="btn btn-warning boton" (click)="ocultartabla()">Ocultar tabla</button>
  <button type="button" class="btn btn-info boton">Modificar</button> -->

  <mat-form-field >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table class="table table-hover visualizacion"><!--  *ngIf="mostrarTabla" -->
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de ingreso</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos.data" >
        <td>{{ dato.nombre}}</td>
        <td>{{ dato.apellido}}</td>
        <td>{{ dato.email}}</td>
        <td>{{ dato.fecha_ingreso}}</td>
        <td><button (click)="OnEdit(dato)">edit</button>
          <button (click)="onDelete(dato)">delete</button>
        </td>
       
      </tr>
      <tr class="mat-row" *ngIf="datos.filteredData.length === 0">
        <td class="mat-cell" colspan="5">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </tbody>
   
  </table> 

  